:root {
    --drawing-color: #BADA55;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.toggleNavLeft {
    position: fixed;
    width: 35px;
    height: 35px;
    background: url(../images/navigateLeft.png) center;
    background-size: cover;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 10;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

#navLeft {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 250px;
    height: 100%;
    background: #f4f4f4;
    overflow: auto;
    border-right: 1px solid #ccc;
    transition: all 500ms;
    -webkit-transition: all 500ms;
}

#navLeft .nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 125px;
}

#navLeft .nav-content:nth-child(1) {
    margin-top: 50px;
}

#navLeft .nav-content > * {
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

#navLeft .nav-content span {
    font-weight: 700;
}

#navLeft .nav-content input {
    width: 70px;
    text-align: center;
}

#navLeft .nav-content input:nth-child(1) {
    color: var(--drawing-color);
}

#navLeft .nav-content button {
    padding: 5px 10px;
    border: 1px solid blue;
    border-radius: 5px;
    background: #337ab7;
    color: #fff;
    cursor: pointer;
}

.table-info {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

table {
    width: 225px;
    height: 100px;
    background: #fff;
}

th, td {
    padding: 5px;
    text-align: center;
}

table, th, td {
    border: 2px solid var(--drawing-color);
    border-collapse: collapse;
}
